<% title = CandleAccess.model_name.human.pluralize(I18n.locale) %>
<% content_for(:html_title) { title } %>

<h1>
  <%= title %>
</h1>

<%= render 'form', candle_access: @candle_access %>

<h3>
  <%= t('helpers.title.acquired_result') %>
  <%= image_tag('/images/loading.gif', class: 'loading hide') %>
</h3>

<div class="candle-access result columns">
</div>

<script>
  $(document).on('turbolinks:load', (() => {
    $('.candle-access.result.columns').columns({
      data: []
    });
  }));
</script>
