<% title = CandleAccess.model_name.human.pluralize(I18n.locale) %>
<% content_for(:html_title) {title} %>

<h1>
  <%= title %>
</h1>

<%= render 'form', candle_access: @candle_access %>

<h3>
  <%= t('helpers.title.acquired_result') %>
  <%= image_pack_tag('loading.gif', class: 'loading d-none') %>
</h3>

<div id="candle-access-table">
</div>
