<h1>
  <%= t(CandleAccess.model_name.human.pluralize(I18n.locale)) %>
</h1>

<%= render 'form', candle_access: @candle_access %>

<h3>
  取得結果
</h3>
<pre>
  <code class="candle-access result">
  </code>
</pre>
